/*
 * Revision Bookstore and Cafe style sheet
 * Filename:c82stylesheet.css
 * 
 * Author: Muhammad Husni Bin Mohammed Haron
 * Date: 23 April 2018
 * HTML5 and CSS3 Illustrated Unit C, Lessons
 */

h1 {
    background-color: lightblue;
    color: navy;
    
}

footer {
    background-color: lightblue;
    color:navy;
    text-align:right;
}

#contactno {
    color: maroon;
}

